<div id="map" data-lat="34.985849" data-lng="135.758767" style="height: 500px;">
</div>

<script>
  var target = document.getElementById('map');
  var lat = parseFloat(target.dataset.lat)
  var lng = parseFloat(target.dataset.lng)
  var center = { lat: lat, lng: lng };
  map = new google.maps.Map(target, {
    zoom: 14,
    center: center
  });

  var marker = new google.maps.Marker({
    position: {
      lat: 34.992588,
      lng: 135.760544
    },
    map: map,
    title: '法寿寺'
  })
</script>
