<!DOCTYPE html>
<html>
<head>
  <title>AfterLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw0GPFV-u7BAa11qP-mpfnnCSaJDc0cgs&libraries=places">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
